#icerik{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../arka_plan_resimler/sade_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b8b3b3;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    margin: 0px;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 1000;
}
#overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
video {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

#yuzAlgilamaDurumu{
    font-size:20px;
}

#cikis{
    display:none;
    margin-left:20vw;
    margin-right:20vw;
    margin-top:3vh;
    position: relative;
    z-index: 3;
}

.icine-alan-div {
    flex: 1;
    max-width: 70%; 
    justify-content: flex-start; 
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 60vw; 
    border: 2px solid #11435e;
    border-radius: 15px;
    margin-top: 8vh; 
    margin-bottom: 8vh;
    padding: 20px;
    min-width: 600px;
    max-width: 800px;
    overflow-y: scroll; 
}

#hosgeldiniz {
    width: 100%; 
    height: auto; 
    padding: 10px;
    margin-bottom: 20px;
}

#gunun-menusu {
    width: 100%; 
    height: auto; 
    margin-bottom: 20px;
    overflow-y: auto;
}

#yemek-baslat {
    width: 100%; 
    height: auto; 
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#yemekBaslatButonu{
    border-radius: 15px;
    transition: all 0.3s ease;
}
#yemekBaslatButonu:hover{
    border-radius: 25px;
    transform: scale(1.03);
}


@media (max-width:768px){
    .icine-alan-div {
        flex-direction: column; 
        width: 90%; 
        margin: auto;
        padding: 10px;
        min-width: 300px; 
    }

    #hosgeldiniz {
        width: 100%;
        margin-bottom: 15px; 
    }

    #gunun-menusu {
        width: 100%;
        margin-bottom: 15px; 
        overflow-y: scroll; 
    }

    #yemek-baslat {
        width: 100%;
        margin-bottom: 15px; 
    }

    #yemekBaslatButonu {
        width: 100%; 
        margin: 0 auto;
    }
}