#icerik{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../arka_plan_resimler/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b8b3b3;
    position: relative;
    z-index: 1;
    margin: 0px;
}


#giris{
    display: none;
    width: 24vw;
    height: 60vh;
    min-width: 200px;
    min-height: 400px;
    margin-left: 38vw;
    margin-top: 18vh;
    border: 2px solid #41494e;
    border-radius: 20px 20px 20px 20px;
    background: linear-gradient(155deg,#636262 -30%,#575555 90%);
    box-shadow: 0px 10px 10px 0px;
    backdrop-filter: blur(1px);
    background: rgba(79, 113, 133, 0.3);
    overflow: hidden;
}

#kayit{
    display: none;
    width: 24vw;
    height: 60vh;
    min-width: 200px;
    min-height: 400px;
    margin-left: 38vw;
    margin-top: 18vh;
    border: 2px solid #41494e;
    border-radius: 20px 20px 20px 20px;
    background: linear-gradient(155deg,#636262 -30%,#575555 90%);
    box-shadow: 0px 10px 10px 0px;
    backdrop-filter: blur(1px);
    background: rgba(79, 113, 133, 0.3);
    overflow: hidden;
}

#myFormsignup{
    height: 100%;
    width: 100%;
    gap: 3px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;

    
}

#myFormsignup div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-right: 120px;
    justify-content: space-between;
}

#myFormsignup span {
    display: inline-block;
    flex: 1;
    height: 4vh;
    width: 12vw;
    min-width: 70px;
    min-height: 20px;
    text-align: right;
    margin-right: 15px;
    margin-top: 15px;
    word-wrap: break-word;
}


#isim, #soyisim, #ncknm, #mail, #number, #psw{
    display: flex;
    flex: 1;
    height: 4vh;
    width: 12vw;
    min-width: 100px;
    min-height: 30px;
    margin: 8px auto;
    margin-bottom: 5px;
    padding: 6px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 19px;
    background: rgba(255, 255, 255, 0.1);
    color: rgb(97, 97, 112);
    outline: none;
    box-sizing: border-box;
    color: #333;
}
#isim:hover, #soyisim:hover, #ncknm:hover, #mail:hover, #number:hover, #psw:hover{
    border-color: white;
    background: rgba(255, 255, 255, 0.2);
}
#isim:focus, #soyisim:focus, #ncknm:focus, #mail:focus, #number:focus, #psw:focus{
    border: 2px solid #3c88a1;
    box-shadow: 0 0 5px rgba(107, 140, 255, 0.5);
}

#myFormlogin{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 3px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#login_ncknm{
    display: flex;
    flex: 1;
    position: relative;
    height: 4vh;
    width: 11vw;
    min-width: 100px;
    min-height: 30px;
    margin: 5px auto;
    padding: 12px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 19px;
    background: rgba(255, 255, 255, 0.1);
    color: rgb(97, 97, 112);
    outline: none;
    box-sizing: border-box;
}

#login_psw {
    display: flex;
    flex: 1;
    position: relative;
    height: 4vh;
    width: 11vw;
    min-width: 100px;
    min-height: 30px;
    margin: 5px auto;
    padding: 13px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 19px;
    background: rgba(255, 255, 255, 0.1);
    color: rgb(97, 97, 112);
    outline: none;
    box-sizing: border-box;
}
#login_ncknm{
    margin-top: 30%;
    color: #333;
}
#login_ncknm::placeholder{
    font-weight: lighter;
}

#login_ncknm:hover, #login_psw:hover {
    border-color: white;
    background: rgba(255, 255, 255, 0.2);
}
#login_ncknm:focus, #login_psw:focus {
    border: 2px solid #3c88a1;
    box-shadow: 0 0 5px rgba(107, 140, 255, 0.5);
}


/* Simgeler */
.icon_user {
    position: absolute;
    right: 135px;
    top: 41%;
    right: 30%;
    transform: translateY(-50%);
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    pointer-events: none;
}
.icon_password {
    position: absolute;
    right: 135px;
    top: 51%;
    right: 30%;
    transform: translateY(-50%);
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    pointer-events: none;
}

.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 10;
}
#icon_giris{
    position: relative;
    pointer-events: none;
    font-size: 9vw;
    display: flex;
    align-items: center; /* Ortala */
    justify-content: center;
    border-radius: 50%; /* Yuvarlak şekil için */
    border: 3px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    color: rgba(50, 50, 50, 0.8);
    margin-bottom: 25px;
    width: 8vw;
    height: 16vh;
    min-width: 100px;
    min-height: 80px;
    object-fit: cover; 
    top:auto;
    
    
    
}

#signupbutton{
    height: 4vh;
    width: 10vw;
    min-width: 130px;
    min-height: 40px;
    padding: 9px;
    right: 10%;
    margin: 11px auto;
    margin-right: 120px;
    justify-content: center;
    display: flex;
    font-size: 16px;
    border: none;
    border-radius: 19px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
}
/* Submit butonları */
 #loginbutton {
    height: 4vh;
    width: 10vw;
    min-width: 80px;
    min-height: 35px;
    padding: 9px;
    right: 10%;
    margin: 11px auto;
    margin-right: 120px;
    justify-content: center;
    display: flex;
    font-size: 16px;
    border: none;
    border-radius: 19px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8); /* Şeffaf beyaz arka plan */

}
#signupbutton:hover, #loginbutton:hover{
    border-color: white;
    background: rgba(169, 210, 233, 0.523);
} 


.register-link {
    margin-top: 15px;
    font-size: 12px;
}
  
.register-link a {
    color: #21333f;
    text-decoration: none;
    font-weight: bold;
}
  
.register-link a:hover {
    text-decoration: underline;
}