
#icerik{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../arka_plan_resimler/3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b8b3b3;
    position: relative;
    z-index: 1;
    margin: 0px;
}


#giris{
    display: none;
    width: 24vw;
    height: 60vh;
    min-width: 200px;
    min-height: 400px;
    margin-left: 38vw;
    margin-top: 18vh;
    border: 2px solid #41494e;
    border-radius: 20px 20px 20px 20px;
    background: linear-gradient(155deg,#636262 -30%,#575555 90%);
    box-shadow: 0px 10px 10px 0px;
    backdrop-filter: blur(1px);
    background: rgba(79, 113, 133, 0.3);
    overflow: hidden;
    justify-content: center;
}

#kayit{
    display: none;
    width: 24vw;
    height: 60vh;
    min-width: 200px;
    min-height: 400px;
    margin-left: 38vw;
    margin-top: 18vh;
    border: 2px solid #41494e;
    border-radius: 20px 20px 20px 20px;
    background: linear-gradient(155deg,#636262 -30%,#575555 90%);
    box-shadow: 0px 10px 10px 0px;
    backdrop-filter: blur(1px);
    background: rgba(79, 113, 133, 0.3);
    overflow: hidden;
    justify-content: center;
}

#myFormsignup{
    height: 100%;
    width: 100%;
    gap: 3px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;   
}

#myFormlogin{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    gap: 3px;
    align-items: center;
    padding: 10px;
    padding-top: 20vh;
}


#myFormsignup div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
}


#isim, #soyisim, #ncknm, #mail, #number, #psw,#login_ncknm,#login_psw{
    display: flex;
    flex: 1;
    height: 4vh;
    width: 12vw;
    min-width: 100px;
    min-height: 30px;
    margin: 4px;
    margin-bottom: 5px;
    padding: 6px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 19px;
    background: rgba(255, 255, 255, 0.1);
    color: rgb(97, 97, 112);
    outline: none;
    box-sizing: border-box;
    color: #333;
    transition: 0.1s ease-in-out;
}

#isim:hover, #soyisim:hover, #ncknm:hover, #mail:hover, #number:hover, #psw:hover,#login_ncknm:hover,#login_psw:hover{
    transform: scale(1.06);
    border-color: white;
    background: rgba(255, 255, 255, 0.2);
}
#isim:focus, #soyisim:focus, #ncknm:focus, #mail:focus, #number:focus, #psw:focus,#login_ncknm:focus,#login_psw:focus{
    border: 2px solid #3c88a1;
    box-shadow: 0 0 5px rgba(107, 140, 255, 0.5);
    transform: scale(1.06);
}

#login_ncknm{
    margin-top: 30%;
    color: #333;
    transition: 0.1s ease-in-out;
}
#login_ncknm::placeholder{
    font-weight: lighter;
}

#login_ncknm:hover, #login_psw:hover {
    border-color: white;
    background: rgba(255, 255, 255, 0.2);
}
#login_ncknm:focus, #login_psw:focus {
    border: 2px solid #3c88a1;
    box-shadow: 0 0 5px rgba(107, 140, 255, 0.5);
}





.icon_user {
    position: absolute;
    margin-top: -2rem;
    margin-left: clamp(80px, 9.5vw, 300px);
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    pointer-events: none;
    z-index: 2;
}

.icon_password {
    position: absolute;
    margin-top:-1.2rem;
    margin-left: clamp(80px, 9.5vw, 300px);
    transform: translateY(-50%);
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    pointer-events: none;
}


#iconab{
    position: absolute;
    pointer-events: none;
    font-size: clamp(90px, 9vw, 9vw);
    display: flex;
    align-items: center; /* Ortala */
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}
#icon_giris{
    position: relative;
    pointer-events: none;
    display: flex;
    align-items: center; /* Ortala */
    justify-content: center;
    border-radius: 50%; /* Yuvarlak şekil için */
    border: 3px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    color: rgba(50, 50, 50, 0.8);
    margin-bottom: 2vh;
    width: 8vw;
    height: 8vw;
    min-width: 80px;
    min-height: 80px;
    object-fit: cover; 
    
    
    
}

#signupbutton{
    height: 4vh;
    width: 10vw;
    min-width: 130px;
    min-height: 40px;
    padding: 9px;
    right: 10%;
    margin: 11px auto;
    justify-content: center;
    display: flex;
    font-size: 16px;
    border: none;
    border-radius: 19px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.1s ease-in-out;
}
 #loginbutton {
    height: 4vh;
    width: 10vw;
    min-width: 80px;
    min-height: 35px;
    margin: 11px auto;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 16px;
    border: none;
    border-radius: 19px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8); /* Şeffaf beyaz arka plan */
    transition: 0.1s ease-in-out;

}
#signupbutton:hover, #loginbutton:hover{
    border-color: white;
    background: rgba(169, 210, 233, 0.523);
} 


.register-link {
    margin-top: 15px;
    font-size: 12px;
}
  
.register-link a {
    color: #21333f;
    text-decoration: none;
    font-weight: bold;
}
  
.register-link a:hover {
    text-decoration: underline;
}


@media (max-width: 768px) {
    #icerik{
        overflow: scroll;
    }
    #kayit{
        width: 80vw;
        height: 80vh;
        margin-left: 10vw;
        margin-top: 3vh;
    }
    #giris{
        width: 80vw;
        height: 80vh;
        margin-left: 10vw;
        margin-top: 3vh;
    }
    #loginbutton{
        width: 30vw;
        height: 7vh;
    }
    #isim, #soyisim, #ncknm, #mail, #number, #psw{
        height: 7vh;
        width: 50vw;
    }
    #login_ncknm{
        margin-top: 15%;
        height: 6vh;
        width: 50vw;
    }
    #login_psw{
        height: 6vh;
        width: 50vw;
    }
    .icon_user{
        margin-left: 45vw;
        margin-top:-2.7rem;
    }
    .icon_password{
        margin-left: 45vw;
        margin-top:-1.9rem;
    }
}