/* Hesap bilgileri */
#hesap_bilgileri {
    flex: 1;
}

#hesap_bilgileri h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid #eaeaea;
    padding-bottom: 10px;
}

#hesap_bilgileri span {
    display: block;
    margin: 10px 0;
    font-size: 16px;
}

#hesap_bilgileri span strong {
    font-weight: bold;
}

/* Profil fotoğrafı yükleme */
#pp_ayar {
    flex: 1;
    text-align: center;
}

#pp_ayar form {
    margin-bottom: 15px;
}


#pp_ayar button[type="submit"] {
    padding: 8px 16px;
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

#pp_ayar button[type="submit"]:hover {
    background: #a71d2a;
}

#anakart {
    display: flex; /* Flex düzenini etkinleştir */
    flex-direction: row; /* Yatay hizalama */
    gap: 20px; /* Divler arasına boşluk bırakır */
}