#icerik{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../arka_plan_resimler/sade_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b8b3b3;
    position: relative;
    z-index: 1;
    margin: 0px;
}

#bakiye{
    margin-top: 4vh;
    position: absolute;
    margin-left: 80vw;
    font-size: 20px;
    font-weight: bold;
}

#ucretler{
    margin-top: 4vh;
    position: absolute;
    margin-left: 5vw;
    font-size: 20px;
    font-weight: bold;
}


.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin: 20px;
    padding-left: 20px;
    font-weight:600;
    height:90%;
    max-height: 90%;
}
.containerr{
    display: none;
    margin-bottom:40vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    overflow-y:scroll;
    max-height: 70%;
}



.calendar-day {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin:5px;
}
.calendar-day:hover {
    transform: scale(1.10,1.10);
    background-color: #e9ecef;
}
.today{
    border: 2px solid #b39e25;
}
.today:hover{
    background-color: #9dc73baa;
    font-weight: bold;
}

#warn{
    display: none;
}

#menuekle_button{
    width: 10vw;
    height: 6vh;
    margin-top: 5px;
    display: block;
    margin: 10px auto;
    background-color: #195787c4;
    color: #fff;
    border: 1px solid #282929d5;
    border-radius: 10px;
    font-size: 1vw;
    cursor: pointer;
    box-shadow: 0px 2px 2px 0px #282929d5;
    transition: all 0.3s ease;
    text-align: center;
}
#menuekle_button:hover{
    color: white;
    border-radius: 20px;
    transform: scale(0.96);
    background-color: #195787;
}