#mesaj{
    width: 20vw;
    height: 20vh;
}

#iletisim_sayfa{
    margin-top:11vh;
    display: flex; 
    justify-content: space-between; 
    gap: 10px; 
}

#iletisim_sayfa #mesaj_yaz_div,#mesaj_ve_ogrenciler,#mesaj_detay {
    flex: 1; 
    text-align: center; 
    padding: 10px;
    border: 1px solid #ccc; 
    background-color: #f9f9f9; 
  }


  #mesajlar_hakkinda_gozukuyor{
    display:none;
  }

  #ogrenci_gozukuyor{
    display: none;
  }

  #mesaj_gozukuyor{
    display:none;
  }

  #uyeler_listesi{
    display:block;
  }


  #gelen_mesajlar{
    display:none;
  }

  #giden_mesajlar{
    display:none;
  }