
.containerr {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0px;
    column-gap: 0px;
    justify-content: center;
    height: 90%;
    margin-bottom: 5%;
}

.small-box-container {
    display: flex;
    flex-direction: column; /* Alt alta hizala */
    flex: 1 30%; /* Orta alan */
    max-height: 100%;
}

#menu_ekle{
    flex: 1 30%; 
    overflow-y: auto;
    max-height: 95%;
}
#yemekhane_bilgileri{
    flex:1 30%;
    overflow-y: auto;
    max-height: 95%;
}
#yemekhane_olustur{
    flex:1;
}
#ogrenciler{
    flex:1 50%;
    max-height: 50%;
    overflow-y: auto;
}
#istekler{
    flex:1 50%;
    max-height: 50%;
    overflow-y: auto;
}
ul {
    list-style: none;
    padding: 0;
}

ul li:not(.liler,.prfl) {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}


button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
